*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: rgb(10, 9, 9);
    color: white;
    overflow-x: hidden;
}
.nav_logo{
width: 400px;
height: 100px;
object-fit: cover;
overflow-x: hidden;
margin-left: -100px;
}
.nav i{
    color: white;
    cursor: pointer;
}
.nav_visible{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    overflow: hidden;
}
.nav_visible input{
    padding: 5px 10px;
}
.user-section{
    display: flex;
    align-items: center;
}
.user-section a i{
    color: white;
    font-size: 30px;
    margin-left: -350px;
}
/* menu */
.menu{
    /* background-color: rgb(30, 30, 30); */
    backdrop-filter: blur(50px);
    width: 25vw;
    display: none;
    overflow-y: scroll;
    scrollbar-width:none;
    height: 100vh;
    padding: 90px 0 20px 20px;
    margin-left: 958px;
    margin-top: -100px;
    transition: 500ms ease-in;
    position: fixed;
    z-index: 1;
    }
.menu a{
    text-align: left;
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.menu ul li a p{
    margin: 10px 0;
    padding: 5px 9px;
}
.menu ul li a p:hover{
    background-color: blue;
}
.menu ul li{
    list-style: none;
}
.drop_page{
        background-color: blue;
    }
.navbar_toggle{
        display:block;
        font-size: 35px;
        background: none;
        border: none;
        color: white;
        z-index: 2;
        cursor: pointer;
    }
.menu.visible {
        display: block;
}
.slider{
    margin-top: 50px;
}
.slide-a{
    display: flex;
    flex-direction: column;
}
.slider-img{
    height: 400px;
    width: 300px;
    object-fit: cover;
}
.slide-description{
    display: flex;
    justify-content: space-evenly;
}
.popular{
    padding-left: 85px;
    margin-bottom: 20px;
}
.genre{
    display: flex;
}
.genre p{
    margin: 5px 10px 5px 0;
}
.slider-text a{
text-decoration: none;
color: white;
}